# COMP0049 - Market Microstructure PRACTICAL EXAM (100%)

Stocks LOB files should be saved in the same folder of this notebook in a subfolder named 'data'. Data provided is for 1 stock, ' NVDA' for one trading day (2017-03-08). Data are already processed and formatted in a single LOB file, containing  volumes and prices (10 price levels) for buy/sell side and timestamp.

# STUDENT NUMBER: {20006373}

In [4]:
#libraries import
import glob

import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import scipy.stats.distributions as sts
from scipy.stats import norm
import scipy as sp
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [7]:
#available files
all_files = glob.glob(f"./data/*.*")
all_files

[]

In [3]:
#read csv files into dataframe
df_0 = pd.read_csv(all_files[0])

In [4]:
#formatting date-time correctly
df_0['seconds'] = pd.to_datetime(df_0['seconds'])

In [5]:
#check file structure
df_0.head()

,seconds,ASKp1,ASKs1,BIDp1,BIDs1,ASKp2,ASKs2,BIDp2,BIDs2,ASKp3,...,BIDp8,BIDs8,ASKp9,ASKs9,BIDp9,BIDs9,ASKp10,ASKs10,BIDp10,BIDs10
0,2017-03-08 09:40:03.319941,100.75,100,100.72,100,100.80,2179,100.71,1200,100.81,...,100.65,204,100.87,5301,100.64,400,100.88,200,100.63,100
1,2017-03-08 09:40:03.320120,100.75,100,100.72,100,100.80,2179,100.71,1200,100.81,...,100.65,204,100.87,5200,100.64,400,100.88,200,100.63,100
2,2017-03-08 09:40:03.320974,100.80,2179,100.72,100,100.81,149,100.71,1200,100.82,...,100.65,204,100.88,200,100.64,400,100.89,100,100.63,100
3,2017-03-08 09:40:03.321003,100.80,2179,100.73,100,100.81,149,100.72,100,100.82,...,100.66,249,100.88,200,100.65,204,100.89,100,100.64,400
4,2017-03-08 09:40:03.321014,100.80,2079,100.73,100,100.81,149,100.72,100,100.82,...,100.66,249,100.88,200,100.65,204,100.89,100,100.64,400

In [5]:
spread = pd.DataFrame(df_0['ASKp1'] - df_0['BIDp1']) # ask - bid
spread.columns = ['Spread']
ax = spread.plot()
ax.set_xlabel("Time")
ax.set_ylabel("Spread")
ax.set_title("Spread over time")

mid_price = pd.DataFrame((df_0['ASKp1'] + df_0['BIDp1'])/2) # (ask + bid)/2
mid_price.columns = ['MidPrice']
ax2 = mid_price.plot()
ax2.set_xlabel("Time")
ax2.set_ylabel("Mid Price")
ax2.set_title("Mid Price over time")

NameError: name 'df_0' is not defined

Q1 - You can use the function below to calculate the close mid after binning. To calculate the returns, you would need to add their definition as a function of the close mid. This function takes as iinput a dataframe as the ones below, where an extra column
named 'MidPrice' and containing values of mid-price at different times has been added.

In [32]:
def retsdef(df):
    bin_size = '15s'
    groups_by_secs = df.groupby(pd.Grouper(key='seconds', freq=bin_size))
    group_ticks_len = []
  
    close_mid = []
    number_missing_seconds = 0

    for k in groups_by_secs:
        if len(k[1] != 0):
            group_ticks_len.append(len(k[1]))
            close_mid.append(list(k[1].MidPrice)[-1])
        else:
            number_missing_seconds += 1

    ohlc = pd.DataFrame({'Close':close_mid})
    log_rets = #add here log-returns definition
    return log_rets